body {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  background: white;
  width: 300px;
  height: 300px;
  /* transform: rotate(25deg); */
  /* transform: skew(25deg); */
  /* transform: scale(3); */
  transition: all 1s ease-in-out;
}

.box:hover {
  /* Rotate by 180 degrees */
  /* transform: rotate(180deg); */
  /* Skew by 25 degrees */
  /* transform: skew(25deg); */
  /* Make 2 times bigger */
  /* transform: scale(2); */
  /* Translate below by 100px (-100px to translate up) */
  /* transform: translateY(100px); */
  /* Translate to the right by 100px (-100px to translate left)*/
  /* transform: translateX(100px); */
  /* Shorthand to translateX and translateY */
  /* transform: translate(100px, 100px); */
  /* Translate 3d */
  transform: translate3d(100px, 100px, 100px);
}